body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.create-btn {
  float: inline-end;
}

.centered {
  text-align: center;
}
.cursor-pointer {
  cursor: pointer;
}
.login-container {
  height: 90vh;
  /* vertical-align: middle; */
  align-items: center;
  /* align-content: center; */
  /* justify-content: center; */
  /* justify-content: center; */
  justify-items: center;
  /* left: 50%; */
  /* position: absolute; */
  display: grid;
}